# Quailty of All Datasets

In this process, Quality of all datasets will be checked

Null values and duplicates will be checked

User and Movie size will be checked

UserId and MovieId will be checked

Positive and Negative outputs will be checked

In [1]:
#Importing libraries
import numpy as np
import pandas as pd

In [2]:
#Printing library versions
print('numpy Version: ' + np.__version__)
print('pandas Version: ' + pd.__version__)

numpy Version: 1.16.5
pandas Version: 0.25.1

In [3]:
#Reading raw rating data from pkl file
ratingDf = pd.read_pickle("../Data/pkl/1M/RawData/Rating.pkl")
ratingDf

         UserId  MovieId  Rating
0             0        0     3.5
1             0        1     3.5
2             0        2     1.5
3             0        3     4.5
4             0        4     4.5
...         ...      ...     ...
1000888   10072    12665     3.0
1000889   10072     6417     3.0
1000890   10072     9689     3.0
1000891   10072    22032     3.0
1000892   10072     5290     4.0

[1000893 rows x 3 columns]

In [4]:
#Checking is there any null value in ratingDf
ratingDf.isnull().values.any()

False

In [5]:
#Checking if any duplicate user-movie pairs exist in datframe
ratingDf[['UserId', 'MovieId']].duplicated().any()

False

In [6]:
#Calculating number of users in raw data
userSize = ratingDf['UserId'].unique().shape[0]
userSize

10073

In [7]:
#Calculatin maximum UserId in raw data
maxUserId = max(ratingDf['UserId'])
maxUserId

10072

In [8]:
#Calculatin minimum UserId in raw data
minUserId = min(ratingDf['UserId'])
minUserId

0

In [9]:
#Calculating number of movies in raw data
movieSize = ratingDf['MovieId'].unique().shape[0]
movieSize

22033

In [10]:
#Calculatin maximum MovieId in raw data
maxMovieId = max(ratingDf['MovieId'])
maxMovieId

22032

In [11]:
#Calculatin minimum MovieId in raw data
minMovieId = min(ratingDf['MovieId'])
minMovieId

0

In [12]:
#Reading raw movie data from pkl file
movie = pd.read_pickle("../Data/pkl/1M/RawData/Movie.pkl")
movie

       MovieId                                             Title
0            0  Three Colors: Blue (Trois couleurs: Bleu) (1993)
1            1                                 Kalifornia (1993)
2            2                        Weekend at Bernie's (1989)
3            3                         Better Off Dead... (1985)
4            4                        Waiting for Guffman (1996)
...        ...                                               ...
22028    22028                      London Paris New York (2012)
22029    22029                                  Wild Zero (2000)
22030    22030                               Mr. Accident (2000)
22031    22031                                  Max Steel (2016)
22032    22032                                   Sex Doll (2016)

[22033 rows x 2 columns]

In [13]:
#Checking if movieSize is true
movie.shape[0]

22033

In [14]:
#Checking if max MovieId is true
max(movie['MovieId'])

22032

In [15]:
#Checking if min MovieId is true
min(movie['MovieId'])

0

In [16]:
#Reading Qualified BinaryInteraction InteractedOnly training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryInteraction/InteractedOnly/Training.pkl")
trainingDf

        UserId  MovieId  Interaction
0         4356     1027            1
1         3946      236            1
2         1399      113            1
3         3078     1586            1
4         8244      806            1
...        ...      ...          ...
753540    3299      795            1
753541    4805     3723            1
753542    8255       94            1
753543    5854     1077            1
753544     216     1683            1

[753545 rows x 3 columns]

In [17]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [18]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [19]:
#Checking for Negative outputs in training data
trainingDf[trainingDf['Interaction'] == 0].shape[0]

0

In [20]:
#Checking for Positive outputs in training data
trainingDf[trainingDf['Interaction'] == 1].shape[0]

753545

In [21]:
#Reading Qualified BinaryInteraction InteractedOnly validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryInteraction/InteractedOnly/Validation.pkl")
validationDf

        UserId  MovieId  Interaction
0         7693      399            1
1         9590     1096            1
2         8546      285            1
3         9622      588            1
4         3870     1342            1
...        ...      ...          ...
123669    8317      517            1
123670    2133       25            1
123671    8927      694            1
123672    9450       88            1
123673    2806       61            1

[123674 rows x 3 columns]

In [22]:
#Checking for Negative outputs in validation data
validationDf[validationDf['Interaction'] == 0].shape[0]

0

In [23]:
#Checking for Positive outputs in validation data
validationDf[validationDf['Interaction'] == 1].shape[0]

123674

In [24]:
#Reading Qualified BinaryInteraction InteractedOnly test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryInteraction/InteractedOnly/Test.pkl")
testDf

        UserId  MovieId  Interaction
0         6731      149            1
1         3630      626            1
2          205      387            1
3         6673     2122            1
4         9225     3848            1
...        ...      ...          ...
123669    8043      446            1
123670    2928     3526            1
123671    7986     1796            1
123672    2024     2730            1
123673    3251     1782            1

[123674 rows x 3 columns]

In [25]:
#Checking for Negative outputs in test data
testDf[testDf['Interaction'] == 0].shape[0]

0

In [26]:
#Checking for Positive outputs in test data
testDf[testDf['Interaction'] == 1].shape[0]

123674

In [27]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Interaction
0          4356     1027            1
1          3946      236            1
2          1399      113            1
3          3078     1586            1
4          8244      806            1
...         ...      ...          ...
1000888    8043      446            1
1000889    2928     3526            1
1000890    7986     1796            1
1000891    2024     2730            1
1000892    3251     1782            1

[1000893 rows x 3 columns]

In [28]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [29]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [30]:
#Checking number of users in all InteractedOnly data
df['UserId'].unique().shape[0]

10073

In [31]:
#Checking maximum UserId in all InteractedOnly data
max(df['UserId'])

10072

In [32]:
#Checking minimum UserId in all InteractedOnly data
min(df['UserId'])

0

In [33]:
#Checking number of movies in all InteractedOnly data
df['MovieId'].unique().shape[0]

22033

In [34]:
#Checking maximum MovieId in all InteractedOnly data
max(df['MovieId'])

22032

In [35]:
#Checking minimum MovieId in all InteractedOnly data
min(df['MovieId'])

0

In [36]:
#Checking for Negative outputs in all InteractedOnly data
df[df['Interaction'] == 0].shape[0]

0

In [37]:
#Checking for Positive outputs in all InteractedOnly data
df[df['Interaction'] == 1].shape[0]

1000893

In [38]:
#Reading Qualified BinaryInteraction NotInteractedSample training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryInteraction/NotInteractedSample/Training.pkl")
trainingDf

         UserId  MovieId  Interaction
0          5282      244            1
1           766      213            1
2          8209     1198            1
3          1067     1828            1
4          6915     1256            1
...         ...      ...          ...
1001131   10072     1095            1
1001132     133      396            1
1001133    8852     6102            1
1001134    5174     4218            0
1001135    2711     3209            1

[1001136 rows x 3 columns]

In [39]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [40]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [41]:
#Checking for Negative outputs in training data
trainingDf[trainingDf['Interaction'] == 0].shape[0]

250322

In [42]:
#Checking for Positive outputs in training data
trainingDf[trainingDf['Interaction'] == 1].shape[0]

750814

In [43]:
#Reading Qualified BinaryInteraction NotInteractedSample validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryInteraction/NotInteractedSample/Validation.pkl")
validationDf

        UserId  MovieId  Interaction
0         8455      142            1
1         1945      530            1
2         7588     4030            1
3         6186     3563            1
4         1088     8835            1
...        ...      ...          ...
166689    8048     1278            1
166690    5234     4508            0
166691    9471    19733            0
166692    8078    15906            0
166693    5809      337            1

[166694 rows x 3 columns]

In [44]:
#Checking for Negative outputs in validation data
validationDf[validationDf['Interaction'] == 0].shape[0]

41648

In [45]:
#Checking for Positive outputs in validation data
validationDf[validationDf['Interaction'] == 1].shape[0]

125046

In [46]:
#Reading Qualified BinaryInteraction NotInteractedSample test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryInteraction/NotInteractedSample/Test.pkl")
testDf

        UserId  MovieId  Interaction
0          604      444            1
1         4908    10378            1
2         6086      865            1
3         1424     4067            0
4         6893     1406            1
...        ...      ...          ...
166689    5750     1053            1
166690    5146    18003            0
166691    9484     9793            1
166692    2433      491            1
166693    6769    15255            0

[166694 rows x 3 columns]

In [47]:
#Checking for Negative outputs in test data
testDf[testDf['Interaction'] == 0].shape[0]

41661

In [48]:
#Checking for Positive outputs in test data
testDf[testDf['Interaction'] == 1].shape[0]

125033

In [49]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Interaction
0          5282      244            1
1           766      213            1
2          8209     1198            1
3          1067     1828            1
4          6915     1256            1
...         ...      ...          ...
1334519    5750     1053            1
1334520    5146    18003            0
1334521    9484     9793            1
1334522    2433      491            1
1334523    6769    15255            0

[1334524 rows x 3 columns]

In [50]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [51]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [52]:
#Checking number of users in all NotInteractedSample data
df['UserId'].unique().shape[0]

10073

In [53]:
#Checking maximum UserId in all NotInteractedSample data
max(df['UserId'])

10072

In [54]:
#Checking minimum UserId in all NotInteractedSample data
min(df['UserId'])

0

In [55]:
#Checking number of movies in all NotInteractedSample data
df['MovieId'].unique().shape[0]

22033

In [56]:
#Checking maximum MovieId in all NotInteractedSample data
max(df['MovieId'])

22032

In [57]:
#Checking minimum MovieId in all NotInteractedSample data
min(df['MovieId'])

0

In [58]:
#Checking for Negative outputs in all NotInteractedSample data
df[df['Interaction'] == 0].shape[0]

333631

In [59]:
#Checking for Positive outputs in all NotInteractedSample data
df[df['Interaction'] == 1].shape[0]

1000893

In [60]:
#Reading Qualified BinaryLike ObservedOnly training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryLike/ObservedOnly/Training.pkl")
trainingDf

        UserId  MovieId  Like
0           30      882     1
1         2836      119     1
2         6380     1230     0
3         9569     1646     1
4         5301      797     1
...        ...      ...   ...
753549    9027     1666     0
753550    1694       88     1
753551    8853       42     1
753552    1756     2598     1
753553    9135     1834     1

[753554 rows x 3 columns]

In [61]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [62]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [63]:
#Checking for Negative outputs in training data
trainingDf[trainingDf['Like'] == 0].shape[0]

136798

In [64]:
#Checking for Positive outputs in training data
trainingDf[trainingDf['Like'] == 1].shape[0]

616756

In [65]:
#Reading Qualified BinaryLike ObservedOnly validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryLike/ObservedOnly/Validation.pkl")
validationDf

        UserId  MovieId  Like
0         2570      197     1
1         9495     2601     1
2         4747      658     1
3         8572      202     0
4         5334     1178     1
...        ...      ...   ...
123664    9721     1914     1
123665    4293     1472     1
123666    7198      277     1
123667    2699     6436     1
123668     751      285     1

[123669 rows x 3 columns]

In [66]:
#Checking for Negative outputs in validation data
validationDf[validationDf['Like'] == 0].shape[0]

22165

In [67]:
#Checking for Positive outputs in validation data
validationDf[validationDf['Like'] == 1].shape[0]

101504

In [68]:
#Reading Qualified BinaryLike ObservedOnly test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryLike/ObservedOnly/Test.pkl")
testDf

        UserId  MovieId  Like
0         8193      163     0
1         2328     2593     1
2          457     1796     0
3         6870     1818     1
4          600      149     1
...        ...      ...   ...
123665    1062      105     1
123666    3176     2296     1
123667    7009      376     1
123668    4864     4898     1
123669     814      731     1

[123670 rows x 3 columns]

In [69]:
#Checking for Negative outputs in test data
testDf[testDf['Like'] == 0].shape[0]

22207

In [70]:
#Checking for Positive outputs in test data
testDf[testDf['Like'] == 1].shape[0]

101463

In [71]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Like
0            30      882     1
1          2836      119     1
2          6380     1230     0
3          9569     1646     1
4          5301      797     1
...         ...      ...   ...
1000888    1062      105     1
1000889    3176     2296     1
1000890    7009      376     1
1000891    4864     4898     1
1000892     814      731     1

[1000893 rows x 3 columns]

In [72]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [73]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [74]:
#Checking number of users in all ObservedOnly data
df['UserId'].unique().shape[0]

10073

In [75]:
#Checking maximum UserId in all ObservedOnly data
max(df['UserId'])

10072

In [76]:
#Checking minimum UserId in all ObservedOnly data
min(df['UserId'])

0

In [77]:
#Checking number of movies in all ObservedOnly data
df['MovieId'].unique().shape[0]

22033

In [78]:
#Checking maximum MovieId in all ObservedOnly data
max(df['MovieId'])

22032

In [79]:
#Checking minimum MovieId in all ObservedOnly data
min(df['MovieId'])

0

In [80]:
#Checking for Negative outputs in all ObservedOnly data
df[df['Like'] == 0].shape[0]

181170

In [81]:
#Checking for Positive outputs in all ObservedOnly data
df[df['Like'] == 1].shape[0]

819723

In [82]:
#Reading Qualified BinaryLike UnobservedSample training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryLike/UnobservedSample/Training.pkl")
trainingDf

        UserId  MovieId  Like
0         6741     2320     1
1          129      777     0
2         5175     8304     1
3         1133     1334     1
4         8109     2270     1
...        ...      ...   ...
760748    2386      168     1
760749     696     1784     1
760750    9237      105     1
760751    7232      204     1
760752    3007     1333     1

[760753 rows x 3 columns]

In [83]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [84]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [85]:
#Checking for Negative outputs in training data
trainingDf[trainingDf['Like'] == 0].shape[0]

144600

In [86]:
#Checking for Positive outputs in training data
trainingDf[trainingDf['Like'] == 1].shape[0]

616153

In [87]:
#Reading Qualified BinaryLike UnobservedSample validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryLike/UnobservedSample/Validation.pkl")
validationDf

        UserId  MovieId  Like
0         8039    20761     0
1         1504      121     1
2         6126     5947     1
3         3371      106     1
4         7280      578     1
...        ...      ...   ...
125069     313      885     1
125070    4108      215     1
125071    5532      863     1
125072    4202     4403     1
125073    8131      190     1

[125074 rows x 3 columns]

In [88]:
#Checking for Negative outputs in validation data
validationDf[validationDf['Like'] == 0].shape[0]

23138

In [89]:
#Checking for Positive outputs in validation data
validationDf[validationDf['Like'] == 1].shape[0]

101936

In [90]:
#Reading Qualified BinaryLike UnobservedSample test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/BinaryLike/UnobservedSample/Test.pkl")
testDf

        UserId  MovieId  Like
0         3969      156     1
1         6121    18850     1
2         7735      214     1
3         5553     1387     1
4           80     2775     0
...        ...      ...   ...
125069    3249    15383     0
125070    5521      123     1
125071    6506    10906     1
125072    9290     2456     1
125073    1131     7020     1

[125074 rows x 3 columns]

In [91]:
#Checking for Negative outputs in test data
testDf[testDf['Like'] == 0].shape[0]

23440

In [92]:
#Checking for Positive outputs in test data
testDf[testDf['Like'] == 1].shape[0]

101634

In [93]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Like
0          6741     2320     1
1           129      777     0
2          5175     8304     1
3          1133     1334     1
4          8109     2270     1
...         ...      ...   ...
1010896    3249    15383     0
1010897    5521      123     1
1010898    6506    10906     1
1010899    9290     2456     1
1010900    1131     7020     1

[1010901 rows x 3 columns]

In [94]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [95]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [96]:
#Checking number of users in all UnobservedSample data
df['UserId'].unique().shape[0]

10073

In [97]:
#Checking maximum UserId in all UnobservedSample data
max(df['UserId'])

10072

In [98]:
#Checking minimum UserId in all UnobservedSample data
min(df['UserId'])

0

In [99]:
#Checking number of movies in all UnobservedSample data
df['MovieId'].unique().shape[0]

22033

In [100]:
#Checking maximum MovieId in all UnobservedSample data
max(df['MovieId'])

22032

In [101]:
#Checking minimum MovieId in all UnobservedSample data
min(df['MovieId'])

0

In [102]:
#Checking for Negative outputs in all UnobservedSample data
df[df['Like'] == 0].shape[0]

191178

In [103]:
#Checking for Positive outputs in all UnobservedSample data
df[df['Like'] == 1].shape[0]

819723

In [104]:
#Reading Qualified CategoricalLike CategorizedOnly training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/CategoricalLike/CategorizedOnly/Training.pkl")
trainingDf

        UserId  MovieId  Category
0         9999      690         1
1         4532     1007         2
2         3969      726         2
3         1271     9157         1
4         7932     1201         1
...        ...      ...       ...
753628    9556     1403         1
753629    4795    17453         1
753630    2116      434         1
753631    1910     4512         1
753632    6015      110         2

[753633 rows x 3 columns]

In [105]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [106]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [107]:
#Checking for Hated outputs in training data
trainingDf[trainingDf['Category'] == 0].shape[0]

50014

In [108]:
#Checking for Not Liked outputs in training data
trainingDf[trainingDf['Category'] == 1].shape[0]

329878

In [109]:
#Checking for Liked outputs in training data
trainingDf[trainingDf['Category'] == 2].shape[0]

373741

In [110]:
#Reading Qualified CategoricalLike CategorizedOnly validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/CategoricalLike/CategorizedOnly/Validation.pkl")
validationDf

        UserId  MovieId  Category
0          238      315         1
1         2311      933         1
2         9877      866         2
3          234      424         2
4         8066     1669         2
...        ...      ...       ...
123625    2038      280         1
123626    8717      154         2
123627    7348     1068         1
123628    1932    12061         1
123629    7604      303         1

[123630 rows x 3 columns]

In [111]:
#Checking for Hated outputs in validation data
validationDf[validationDf['Category'] == 0].shape[0]

7834

In [112]:
#Checking for Not Liked outputs in validation data
validationDf[validationDf['Category'] == 1].shape[0]

54101

In [113]:
#Checking for Liked outputs in validation data
validationDf[validationDf['Category'] == 2].shape[0]

61695

In [114]:
#Reading Qualified CategoricalLike CategorizedOnly test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/CategoricalLike/CategorizedOnly/Test.pkl")
testDf

        UserId  MovieId  Category
0         1470      861         2
1         2736      789         2
2         8041     1101         2
3         3317      336         1
4         5490     2359         1
...        ...      ...       ...
123625    3246      983         1
123626    8886     2413         2
123627    1487      776         0
123628    7680       97         1
123629    9080     4385         2

[123630 rows x 3 columns]

In [115]:
#Checking for Hated outputs in test data
testDf[testDf['Category'] == 0].shape[0]

7860

In [116]:
#Checking for Not Liked outputs in test data
testDf[testDf['Category'] == 1].shape[0]

53972

In [117]:
#Checking for Liked outputs in test data
testDf[testDf['Category'] == 2].shape[0]

61798

In [118]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Category
0          9999      690         1
1          4532     1007         2
2          3969      726         2
3          1271     9157         1
4          7932     1201         1
...         ...      ...       ...
1000888    3246      983         1
1000889    8886     2413         2
1000890    1487      776         0
1000891    7680       97         1
1000892    9080     4385         2

[1000893 rows x 3 columns]

In [119]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [120]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [121]:
#Checking number of users in all CategorizedOnly data
df['UserId'].unique().shape[0]

10073

In [122]:
#Checking maximum UserId in all CategorizedOnly data
max(df['UserId'])

10072

In [123]:
#Checking minimum UserId in all CategorizedOnly data
min(df['UserId'])

0

In [124]:
#Checking number of movies in all CategorizedOnly data
df['MovieId'].unique().shape[0]

22033

In [125]:
#Checking maximum MovieId in all CategorizedOnly data
max(df['MovieId'])

22032

In [126]:
#Checking minimum MovieId in all CategorizedOnly data
min(df['MovieId'])

0

In [127]:
#Checking for Hated outputs in all CategorizedOnly data
df[df['Category'] == 0].shape[0]

65708

In [128]:
#Checking for Not Liked outputs in all CategorizedOnly data
df[df['Category'] == 1].shape[0]

437951

In [129]:
#Checking for Liked outputs in all CategorizedOnly data
df[df['Category'] == 2].shape[0]

497234

In [130]:
#Reading Qualified CategoricalLike NotCategorizedSample training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/CategoricalLike/NotCategorizedSample/Training.pkl")
trainingDf

        UserId  MovieId  Category
0         2628      195         2
1         4474      565         2
2         5175     9476         2
3         9268     1308         2
4         9210      117         2
...        ...      ...       ...
760794    3289     1326         2
760795    4730      309         1
760796    3821    15052         2
760797    6935      174         1
760798    2019    12688         0

[760799 rows x 3 columns]

In [131]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [132]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [133]:
#Checking for Hated outputs in training data
trainingDf[trainingDf['Category'] == 0].shape[0]

57452

In [134]:
#Checking for Not Liked outputs in training data
trainingDf[trainingDf['Category'] == 1].shape[0]

329602

In [135]:
#Checking for Liked outputs in training data
trainingDf[trainingDf['Category'] == 2].shape[0]

373745

In [136]:
#Reading Qualified CategoricalLike NotCategorizedSample validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/CategoricalLike/NotCategorizedSample/Validation.pkl")
validationDf

        UserId  MovieId  Category
0         7160     1089         2
1         3734      466         2
2         8077      315         1
3         8888     5353         1
4         7588      382         1
...        ...      ...       ...
125046    5175     2366         1
125047    4289      246         2
125048    9167     4305         1
125049     490     1128         1
125050    3711      922         2

[125051 rows x 3 columns]

In [137]:
#Checking for Hated outputs in validation data
validationDf[validationDf['Category'] == 0].shape[0]

9153

In [138]:
#Checking for Not Liked outputs in validation data
validationDf[validationDf['Category'] == 1].shape[0]

54141

In [139]:
#Checking for Liked outputs in validation data
validationDf[validationDf['Category'] == 2].shape[0]

61757

In [140]:
#Reading Qualified CategoricalLike NotCategorizedSample test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/CategoricalLike/NotCategorizedSample/Test.pkl")
testDf

        UserId  MovieId  Category
0         2462     2321         1
1         6121     2859         1
2         6835     2574         0
3         4628     1167         1
4         8252     2558         1
...        ...      ...       ...
125046     221     1027         1
125047    7845       75         1
125048    8340     1370         2
125049   10072      344         1
125050    2149     5635         1

[125051 rows x 3 columns]

In [141]:
#Checking for Hated outputs in test data
testDf[testDf['Category'] == 0].shape[0]

9111

In [142]:
#Checking for Not Liked outputs in test data
testDf[testDf['Category'] == 1].shape[0]

54208

In [143]:
#Checking for Liked outputs in test data
testDf[testDf['Category'] == 2].shape[0]

61732

In [144]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Category
0          2628      195         2
1          4474      565         2
2          5175     9476         2
3          9268     1308         2
4          9210      117         2
...         ...      ...       ...
1010896     221     1027         1
1010897    7845       75         1
1010898    8340     1370         2
1010899   10072      344         1
1010900    2149     5635         1

[1010901 rows x 3 columns]

In [145]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [146]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [147]:
#Checking number of users in all NotCategorizedSample data
df['UserId'].unique().shape[0]

10073

In [148]:
#Checking maximum UserId in all NotCategorizedSample data
max(df['UserId'])

10072

In [149]:
#Checking minimum UserId in all NotCategorizedSample data
min(df['UserId'])

0

In [150]:
#Checking number of movies in all NotCategorizedSample data
df['MovieId'].unique().shape[0]

22033

In [151]:
#Checking maximum MovieId in all NotCategorizedSample data
max(df['MovieId'])

22032

In [152]:
#Checking minimum MovieId in all NotCategorizedSample data
min(df['MovieId'])

0

In [153]:
#Checking for Hated outputs in all NotCategorizedSample data
df[df['Category'] == 0].shape[0]

75716

In [154]:
#Checking for Not Liked outputs in all NotCategorizedSample data
df[df['Category'] == 1].shape[0]

437951

In [155]:
#Checking for Liked outputs in all NotCategorizedSample data
df[df['Category'] == 2].shape[0]

497234

In [156]:
#Reading Qualified RatingBased RatedOnly training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/RatingBased/RatedOnly/Training.pkl")
trainingDf

        UserId  MovieId    Rating
0         3448     1096  0.666667
1         7042      465  0.777778
2         4214     3691  0.555556
3         9967      767  0.888889
4          324     1410  0.333333
...        ...      ...       ...
753677     571     7554  0.333333
753678    4795    17048  0.333333
753679    3685     1941  0.555556
753680    1366      658  0.555556
753681    8048      865  0.777778

[753682 rows x 3 columns]

In [157]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [158]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [159]:
#Reading Qualified RatingBased RatedOnly validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/RatingBased/RatedOnly/Validation.pkl")
validationDf

        UserId  MovieId    Rating
0         7981      215  0.777778
1         8165     3195  0.777778
2         5490      174  0.777778
3         5080      802  0.888889
4         7693      344  0.555556
...        ...      ...       ...
123600    3821      265  0.888889
123601    2074      807  1.000000
123602    3930     1942  0.777778
123603    8844     1395  0.777778
123604    9284     5107  0.777778

[123605 rows x 3 columns]

In [160]:
#Reading Qualified RatingBased RatedOnly test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/RatingBased/RatedOnly/Test.pkl")
testDf

        UserId  MovieId    Rating
0         2092     1440  0.777778
1          464     4450  0.777778
2          787      617  0.777778
3         3980      376  1.000000
4         3111      165  0.777778
...        ...      ...       ...
123601     338     4367  0.000000
123602    4526     1536  0.777778
123603    8778      950  0.888889
123604    9104      674  0.888889
123605    3898     1336  1.000000

[123606 rows x 3 columns]

In [161]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId    Rating
0          3448     1096  0.666667
1          7042      465  0.777778
2          4214     3691  0.555556
3          9967      767  0.888889
4           324     1410  0.333333
...         ...      ...       ...
1000888     338     4367  0.000000
1000889    4526     1536  0.777778
1000890    8778      950  0.888889
1000891    9104      674  0.888889
1000892    3898     1336  1.000000

[1000893 rows x 3 columns]

In [162]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [163]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [164]:
#Checking number of users in all RatedOnly data
df['UserId'].unique().shape[0]

10073

In [165]:
#Checking maximum UserId in all RatedOnly data
max(df['UserId'])

10072

In [166]:
#Checking minimum UserId in all RatedOnly data
min(df['UserId'])

0

In [167]:
#Checking number of movies in all RatedOnly data
df['MovieId'].unique().shape[0]

22033

In [168]:
#Checking maximum MovieId in all RatedOnly data
max(df['MovieId'])

22032

In [169]:
#Checking minimum MovieId in all RatedOnly data
min(df['MovieId'])

0

In [170]:
#Reading Qualified RatingBased UnratedSample training data from pkl file
trainingDf = pd.read_pickle("../Data/pkl/1M/Qualified/RatingBased/UnratedSample/Training.pkl")
trainingDf

        UserId  MovieId  Rating
0         5567     5871     0.6
1         8242     9624     0.1
2         4691      285     0.6
3         6937     2827     0.6
4         6948     4235     1.0
...        ...      ...     ...
760698     939      838     1.0
760699    3757      806     0.4
760700    7723     5315     0.8
760701    4152     1670     0.8
760702    3158      247     0.8

[760703 rows x 3 columns]

In [171]:
#Since all Users are wanted to be represented in trainingDf
#Checking number of Users in training data
trainingDf['UserId'].unique().shape[0]

10073

In [172]:
#Since all Movies are wanted to be represented in trainingDf
#Checking number of Movies in training data
trainingDf['MovieId'].unique().shape[0]

22033

In [173]:
#Reading Qualified RatingBased UnratedSample validation data from pkl file
validationDf = pd.read_pickle("../Data/pkl/1M/Qualified/RatingBased/UnratedSample/Validation.pkl")
validationDf

        UserId  MovieId  Rating
0         7411     7484     0.8
1         2024     6413     0.5
2         9999     8864     0.8
3         1522      626     0.7
4         4208      566     0.9
...        ...      ...     ...
125094    3440      224     0.6
125095    4940       28     0.7
125096    7697      945     0.8
125097    4064      139     0.6
125098    3981    17578     0.0

[125099 rows x 3 columns]

In [174]:
#Reading Qualified RatingBased UnratedSample test data from pkl file
testDf = pd.read_pickle("../Data/pkl/1M/Qualified/RatingBased/UnratedSample/Test.pkl")
testDf

        UserId  MovieId  Rating
0         2557      168     1.0
1         7470      242     0.6
2         6915     1400     0.8
3         1066       54     0.4
4         2037      159     0.4
...        ...      ...     ...
125094    5060     2460     0.7
125095    7302      701     0.7
125096    7724      215     0.1
125097     718     1117     0.6
125098    7349      416     1.0

[125099 rows x 3 columns]

In [175]:
#Generating df that include training, test and validation data
df = pd.concat([trainingDf, validationDf, testDf], ignore_index = True)
df

         UserId  MovieId  Rating
0          5567     5871     0.6
1          8242     9624     0.1
2          4691      285     0.6
3          6937     2827     0.6
4          6948     4235     1.0
...         ...      ...     ...
1010896    5060     2460     0.7
1010897    7302      701     0.7
1010898    7724      215     0.1
1010899     718     1117     0.6
1010900    7349      416     1.0

[1010901 rows x 3 columns]

In [176]:
#Checking is there any null value in df
df.isnull().values.any()

False

In [177]:
#Checking if any duplicate user-movie pairs exist in df
df[['UserId', 'MovieId']].duplicated().any()

False

In [178]:
#Checking number of users in all UnratedSample data
df['UserId'].unique().shape[0]

10073

In [179]:
#Checking maximum UserId in all UnratedSample data
max(df['UserId'])

10072

In [180]:
#Checking minimum UserId in all UnratedSample data
min(df['UserId'])

0

In [181]:
#Checking number of movies in all UnratedSample data
df['MovieId'].unique().shape[0]

22033

In [182]:
#Checking maximum MovieId in all UnratedSample data
max(df['MovieId'])

22032

In [183]:
#Checking minimum MovieId in all UnratedSample data
min(df['MovieId'])

0